body {
	background-color: #ffb3b3;
	font-size: 16px;
}

h1 {
	font-family: 'Handlee', cursive;
	color: #990033;
	font-size: 7vw;
}

h3 {
	color: #990033;
}

h4 {
	font-family: 'GlacialIndifferenceRegular';
}

* {
	box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}




.body{
	flex: 50%;
}


@media only screen and (max-width: 767px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .body {
    	flex-direction: column;

    }

    .tentang {
    	width: 300px !important;
		height: 1350px !important;
		top: 0px !important;
    }

    .box-input-form {
    	width: 350px !important;
    }

    .box-list-status {
    	width: 350px !important;
    }

}

.status-form-input {
	height: 80px;
	border-radius: 10px;
	font-family: 'GlacialIndifferenceRegular';
	width: 270px;
}

.box-input-form {
	background-color: white;
	border-radius: 10px;
	display: block;
	padding: 20px 60px;
	width: 400px;
	height: 230px;
	overflow: auto;
}

.box-list-status {
	background-color: white;
	border-radius: 10px;
	display: block;
	padding: 20px 60px;
	width: 400px;
	height: 280px;
	overflow: auto;
}

.box-list-buku {
	background-color: white;
	border-radius: 10px;
	display: block;
	padding: 0px 10px;
	width: 1100px;
	height: 2450px;
	overflow: auto;
}

.box-jumlah-fav {
	background-color: white;
	border-radius: 10px;
	display: block;
	padding: 0px 10px;
	width: 800px;
	height: 60px;
}

.square-service-block{
	position:relative;
	margin:15px auto;
	overflow: auto;

}


.tentang {
	background-color: white;
	border-radius: 10px;
	display: block;
	padding: 20px 60px;
	width: 1000px;
	height: 550px;
}

.huruf {
	font-family: GlacialIndifferenceRegular;
	font-size: 16px;
}

.fotoferiyal {
	position:relative;
	top: 20px;
	width: 200px;
	border-radius: 10px;
}

.greet {
	text-align: left;
    font-family: GlacialIndifferenceRegular;
    color: #ff0055;
}

.greytext {
	text-align: left;
    font-family: GlacialIndifferenceRegular;
    color: #8A8E93;
}

p {
	text-align: left;
    font-family: GlacialIndifferenceRegular;
    color: black;
    font-size: 16px;
}

.kategori{
	color: #ff0055;
	font-size: 16px;
}

.kategoriubah {
	color: #604020;
}

.atas {
	padding-bottom: 30px;
}


.button-post {
	font-family: 'GlacialIndifferenceRegular';
	width: 100px;
	font-size: 15px;
	background-color: #ff0055;
}

#ubahtema2 {
	width: 120px;
	margin-left: 40px;
}


.unduhcv {
	border-color: #ff0055;
	font-family: 'GlacialIndifferenceRegular';
	background-color: #ff0055;
	color: white;
	border-width: 2px;
	border-radius: 15px;
	width: 150px;
	margin-left: 25px;
}

.buttonubah {
	background-color: #ac7339;
	border-color: #ac7339;
}

.judulubah {
	color: #604020;
	font-family: "Mali", cursive;
}

.backgroundubah {
	background-color: #d9b38c;
}

.boxstatusawal {
	background-color: #EDF878;
}

.boxstatusubah {
	background-color: #cce5ff;
}

.pengalaman {
	background-color: white;
	border-radius: 10px;
	display: block;
	padding: 20px 30px;
	width: 370px;
	height: 500px;
}

.accordion {
    background-color: #ff0055;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 300px;
    border: none;
    border-radius: 10px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordionubah {
	background-color: #ac7339;
}

.active, .accordion:hover {
    background-color: #ffb3b3;
}

.activeubah, .accordionubah:hover {
	background-color: #d9b38c;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  background-color: ;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid white;
  border-radius: 50%;
  border-top: 16px solid #ffb3b3;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#konten {
	display: none;
}

.bintangubah {
	color: yellow;
}

.tablehead {
	background-color: white;
}

tr {
	border: 35px solid white;
}

#subscribe-me {
	font-family: 'GlacialIndifferenceRegular';
	width: 150px;
	font-size: 15px;
	background-color: #ff0055;
}

#list-subscriber {
	font-family: 'GlacialIndifferenceRegular';
	width: 150px;
	font-size: 15px;
	background-color: #ff0055;
}

#email-message {
	color: red;
	display: none;
}

.subscriber-form-input {
	border-radius: 8px;
	font-family: 'GlacialIndifferenceRegular';
}

.unsubscribe {
	font-family: 'GlacialIndifferenceRegular';
}

.subs-title {
	font-family: 'GlacialIndifferenceRegular';
}

#list{
	display: none;
}