{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Perpustakaan</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="{% static 'js/text.js'%}"></script>
  	<script src="{%static 'js/TextBuku.js'%}"></script>
	
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="margin:0;">

	<div class="row">
		<h1 class="text-center">Daftar Buku</h1>
	</div>
	<br><br>
	<div class="row">
		<div class="col-2">
			<p></p>
		</div>
		<div class="col-3">
			<div class="square-service-block box-jumlah-fav">
				<span><a href="{% url 'status:landingpage' %}"><button class="btn btn-default" style="font-family: GlacialIndifferenceRegular; background-color: #ff0055; color: white;">< Beranda</button></a></span>

				{% if user.is_authenticated %}
					<span><i class="fa fa-star" style="font-size:36px;color:yellow; margin-top: 10px; margin-left: 20px;"></i></span> <span style="font-family: GlacialIndifferenceRegular;margin-left: 20px; color: #990033;"> Buku Favorit </span><span><input id="counter" class="btn btn-default" type="button" style="margin-left: 15px; margin-bottom: 5px;" value="{{ counter }}"></input></span>
					<span style="font-family: 'GlacialIndifferenceRegular'; margin-left: 20px; color: #990033; font-style: bold; font-size: 22px;"> Hai, {{ user.username }} </span>
					<span><a href="{% url 'store:logout' %}"><button class="btn btn-default" style="margin-bottom: 10px; font-family: GlacialIndifferenceRegular; background-color: #ff0055; color: white; font-style:italic; margin-left: 170px; ">Logout</button></a></span>
				{% else %}
					<span><a href="{% url 'social:begin' 'google-oauth2' %}"><button class="btn btn-default" style="margin-bottom: 10px; margin-top: 15px; font-family: GlacialIndifferenceRegular; background-color: #ff0055; color: white; font-style:italic; margin-left: 250px; ">Login with Google</button></a></span>
				{% endif %}
			</div>
		</div>
	</div>
	<br><br>

	<div class="row">
		<div class="col-2">
			<p></p>
		</div>
		<div class="col-3">
			<input id="inputan" type="text" name="buku" placeholder="Cari buku" style="width: 250px; height: 30px; border-radius: 15px;">
	        <span><button onclick="book()" id="submit" type="submit" class="btn btn-basic button-post" style="color: white; font-size: 15px; width: 60px; height: 30px; border-radius: 15px;">Cari</button></span>
	    </div>
	</div>
	<br><br>
	<div class="row">
		<div id="list" class="container">
			<div class="square-service-block box-list-buku">
				<table id="table-buku" style="font-family: GlacialIndifferenceRegular;" class="table-condensed">
					<tr style="background-color: #ffb3b3; border-radius: 15px; height: 50px; font-size: 20px;">
						<th style="text-align: center; width: 50px; color: #990033;">No</th>
						<th style="text-align: center; width: 150px; color: #990033;"></th>
						<th style="text-align: center; width: 200px; color: #990033;">Judul</th>
						<th style="text-align: center; width: 400px; color: #990033;">Deskripsi</th>
						<th style="text-align: center;width: 100px; color: #990033;">Tambahkan ke Favorit</th>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<br><br><br>
</body>
</html>