{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Hello!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="{% static 'js/text.js'%}"></script>
	
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body onload="myFunction()" style="margin:0;">
	<div id="loader"></div>


	<div id="konten1" style="display: none;">
		<div class="row">
			<br>
		</div>
		<div class="row">
			<h1 class="display-2 text-center">Hello, Apakabar?</h1>
			<br>
		</div>
		<div class="row">
			<div class="col-4">
				<p></p>
			</div>
			<div class="col-2">
				<a href="{% url 'status:listsubscriber' %}"><button id="list-subscriber" class="btn btn-basic" style="color:white; font-size: 15px; font-style: italic;">List Subscriber</button></a>
			</div>
			<div class="col-4">
				<a href="{% url 'status:berlangganan' %}"><button id="subscribe-me" class="btn btn-basic" style="color:white; font-size: 15px; font-style: italic;">Subscribe me !</button></a>
			</div>
		</div>
	</div>
	<div id="konten2" style="display: none;">
		<div id="formstatus" class="container">
			<div class="square-service-block box-input-form">
				<br>
				<form action="{% url 'status:addstatus' %}" method="POST" style="font-size: 20px;">
		            {% csrf_token %}
		            {{ status_form }} <br>
		            <input id="submit" type="submit" value="Post" class="btn btn-basic button-post" style="color:white; font-size: 15px;">
		        </form>
		        <br>
		        <div class="row">
		        	<div class="col-7">
	    				<a href="{% url 'status:profil' %}" style="margin-left: 15px; font-family: GlacialIndifferenceRegular; font-size: 16px;"> < Profil ku </a>
	    			</div>
	    			<div class="col-5">
	    				<a href="{% url 'store:buku' %}" style="margin-left: 15px; font-family: GlacialIndifferenceRegular; font-size: 16px;">Daftar Buku > </a>
	    			</div>
	    		</div>
	    	</div>
		</div>
		<br><br>

		<div id="liststatus" class="container">
			<div class="square-service-block box-list-status">
				<div class="row">
					<div class="col-6">
						<h3 style="font-family: 'Handlee', cursive;">Status Terkini</h3>
					</div>
					<div class="col-5">
						<br>
						<button id="ubahtema" type="button" class="btn btn-basic button-post" style="font-family: GlacialIndifferenceRegular; color: white;">Ubah Tema</button>
					</div>
				</div>
				<div class="row">
					<table style="width:100%">
	                    {% if allstatus %}
	              
	                        {% for status in allstatus %}
	                        
	                            <div id="boxstatus" class="square-service-block boxstatusawal" style="padding: 10px 10px; border-radius: 10px; font-family: GlacialIndifferenceRegular;">
	                            	<span>{{ status.waktu }} </span><span> {{ status.status }}</span>
		                            
		                        </div>

	                        {% endfor %}

	                        <a href="{% url 'status:deletestatus' %}" style="font-family: GlacialIndifferenceRegular;"><button type="button" class="btn btn-danger">Hapus semua</button></a>

	                    {% else %}
	                    	<br>
	                        <h4 style="font-family: GlacialIndifferenceRegular;">Tidak ada status saat ini.</h4> 
	                    {% endif %}
			        </table>
			    </div>
	    	</div>
		</div>
	</div>
</body>
</html>