{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>List Subscriber</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">	<!-- font -->
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'js/unsubscribe.js'%}"></script>

  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	
	<!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
	<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.all.min.js"></script>
	
<!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
</head>
<body>
	<div>
		<div class="row">
			<br>
		</div>
		<div class="row">
			<h1 class="text-center">Daftar Subscriber</h1>
			<br>
		</div>
	</div>

	<div class="row">
		<div class="col-3">
			<p></p>
		</div>
		<div class="col-4">
			<a href="{% url 'status:landingpage' %}"><button class="btn btn-default" style="margin-bottom: 10px; font-family: GlacialIndifferenceRegular; background-color: #ff0055; color: white; width: 100px; height: 40px;">< Beranda</button></a>
		</div>
	</div>

	<div id="tentangsaya" class="container" >
		<div class="square-service-block tentang">
			<h3 class="text-left" style="font-family: 'GlacialIndifferenceRegular'; font-size: 3vw; color: #ff0055;">Subscriber</h3>
			<br>
			<div class="row">
				<div id = "result">
                    
                </div>
			</div>
		</div>

	</div>

	<br><br>
</body>
</html>