{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Hello!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">	<!-- font -->
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'js/text.js'%}"></script>

  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<div class="row">
			<br>
		</div>
		<div class="row">
			<h1 class="text-center">Profil ku</h1>
			<br>
		</div>
	</div>

	<div id="tentangsaya" class="container" >
		<div class="square-service-block tentang">
			<div class="row">
				<div class="col-4">
					<img src="https://image.ibb.co/dORqjz/feriyal_2.jpg" alt="feriyal" class="fotoferiyal">
					<br><br><br>
					<a href="https://drive.google.com/open?id=1mP17f62fiplLrvNHTWQpGJio-46aazBY" target="_blank">
						<button type="button" class="btn btn-basic unduhcv">UNDUH CV</button>
					</a>
					<br><br>
					<button id="ubahtema2" type="button" class="btn btn-basic button-post unduhcv" style="font-family: GlacialIndifferenceRegular; color: white;">Ubah Tema</button>
					<br><br><br>
					<a href="{% url 'status:landingpage' %}" style="font-family: GlacialIndifferenceRegular; font-size: 16px;"> < Kembali</a>
				</div>
				<div class="ini col-8">
					<div class="row atas">
						<h3 class="greet">HAI SAYA FIRRIYAL BIN YAHYA !</h3>
						<h4 class="greytext">Mahasiswa Ilmu Komputer</h4>
						<p class="greeting" style="font-size: 18px;">Hai! Saya Firriyal Bin Yahya. Seorang mahasiswa ilmu komputer di 
	Universitas Indonesia. Saat ini saya sedang menuntut ilmu dan 
	pengetahuan seputar dunia IT. Saya juga sedang mempelajari 
	beberapa bahasa komputer, seperti Java, HTML5, CSS3, 
	Javascript. Disamping itu saya juga memiliki sedikit latar belakang 
	dalam Organisasi dan Kepanitiaan.</p>
					</div>
					<div class="row huruf">
						<div class="col-7">
							<span class="kategori" style="display:inline-block; width: 140px;">Umur</span> <span style="color: black;">18</span><br>
							<span class="kategori" style="display:inline-block; width: 140px;">Alamat	</span> <span>Jl. Kwini 9A, Balekambang,</span><br><span style="display:inline-block; width: 140px;"></span><span>Jakarta Timur</span><br>
							<span class="kategori" style="display:inline-block; width: 140px;">Email</span> <span>feriyalbinyahya@gmail.com</span>
							<br><br>
						</div>
						<div class="col-5">
							<span class="kategori" style="display:inline-block; width: 140px;">Ponsel</span> <span>+6289661156025</span><br>
							<span class="kategori" style="display:inline-block; width: 140px;">Kewarganegaraan</span> <span>Indonesia</span>
						</div>
					</div>
					<div class="row">
						<br><br>
						<p class="kategori huruf">Social Links</p>
						<a href="https://www.facebook.com/fridai17?hc_ref=ARTW9l0ATeWGWL789re7iVld06NJtfKVf7in-4zf4PYY-h8XwSRhbBnjwPqO0bHu8yg&fref=nf&__xts__[0]=68.ARDSJpp810gdBSWI8GE9g6CxJGt2FhiR9e5gPJBuBfAotE5lod1UMMa61-TxO3UjbkxP5kWXWJgt-J9SvZXF-i0KsbzOdmOhDVgX0IeduCd-npyNAPuJFm-Y7P9PA1Rqy0vc_N2WIAmCVtD-8pr0_3H_7GulkOE01ns6_a1BrGpgRVO3fv_x&__tn__=C-R" target="_blank" type="button" class="btn-floating btn-lg btn-fb"><i class="fa fa-facebook"></i></a>
						<a href="https://plus.google.com/102883761578163851191" target="_blank" type="button" class="btn-floating btn-lg btn-gplus"><i class="fa fa-google-plus"></i></a>
						<a href="https://twitter.com/" target="_blank" type="button" class="btn-floating btn-lg btn-tw"><i class="fa fa-twitter"></i></a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="row">
			<br><br><br>
			<h1 class="text-center">Pengalaman ku</h1>
			<br>
	</div>

	<div id="pengalamansaya" class="container">
		<div class="square-service-block pengalaman">
			<button id="aktifitas" class="accordion">Aktivitas</button>
			<div class="panel">
				<br>
				<p>- Kuliah Ilmu Komputer jenjang S1</p>
				<p>- Mengajar siswa sekolahan</p>
				<p>- Menuntut Ilmu Agama</p>
			</div>

			<button class="accordion">Organisasi/Kepanitian</button>
			<div class="panel">
			 	<br>
				<p>- OSIS SMA</p>
				<p>- Sekretaris 1 LASGAR</p>
				<p>- Kreatif Alphabeta</p>
				<p>- PDK CS League</p>
				<p>- Kreatif Wisgen</p>
				<p>- Dankom OH Fasilkom</p>
			</div>

			<button class="accordion">Prestasi</button>
			<div class="panel">
				<br>
				<p>- Peringkat 1 kelas 3 SMA</p>
				<p>- Peringkat 2 SMP</p>
			</div>

			<script>
				var acc = document.getElementsByClassName("accordion");
				var i;

				for (i = 0; i < acc.length; i++) {
				  acc[i].addEventListener("click", function() {
				    this.classList.toggle("active");
				    var panel = this.nextElementSibling;
				    if (panel.style.maxHeight){
				      panel.style.maxHeight = null;
				    } else {
				      panel.style.maxHeight = panel.scrollHeight + "px";
				    } 
				  });
				}
			</script>
		</div>
	</div>
	<br><br>
</body>
</html>