{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Berlangganan pada website ini</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet">	<!-- font -->
	<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="sweetalert2.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'js/subscribe.js'%}"></script>

  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="sweetalert2.all.min.js"></script>
	<!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
	<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
	<div>
		<div class="row">
			<br>
		</div>
		<div class="row">
			<h1 class="text-center">Berlangganan</h1>
			<br>
		</div>
	</div>

	<div id="tentangsaya" class="container" >
		<div class="square-service-block tentang">
			<h3 class="text-left" style="font-family: 'GlacialIndifferenceRegular'; font-size: 3vw; color: #ff0055;">Buat akun anda !</h3>
			<br>
			<div class="row">
				<div class="col-4">
					<form method="POST" style="font-size: 20px;">
				            {% csrf_token %}
				            <h4>Nama :</h4>
				            {{ subscriber_form.nama }} <br><br>
				            <h4>Email :</h4>
				            {{ subscriber_form.email }} <br><br>
				            <h4>Password : (5-20 karakter)</h4>
				            {{ subscriber_form.password }} <br>
				            <br>
				            <button id="subscribe" disabled="disabled" class="btn btn-basic button-post" style="color:white; font-size: 15px;">Subscribe</button>
				    </form>
				    <br><br>
				    <a href="{% url 'status:landingpage' %}" style="font-family: 'GlacialIndifferenceRegular'; font-size: 16px;">< Kembali</a>
				</div>
				<div class="col-3">
					<br><br><br><br><br><br>
					<p id="email-message">Email tersebut sudah pernah didaftarkan sebelumnya, silakan daftar dengan email lain</p>
				</div>
			</div>
		</div>

	</div>

	<br><br>
</body>
</html>